<h2>Welcome to HouseHunter!</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<%= link_to 'Listings', houses_path %>
<%= link_to 'Users', users_path %>
<%= link_to 'Companies', companies_path %>
<%= link_to 'Inquiries', inquiries_path %>
